<!-- PAGE | ABOUT -->
<div class="pages page-about" id="page-about">
  <div class="container">
    <!-- Header -->
    <header>
      <h4 class="line-divider">About</h4>
      <h7>MEET THE TEAM</h7>
      <div class="row">
        <div class="span8 offset2">
          <p>
            Omnidome is an OpenSource project developed by CR8TR GmbH, a company that explores the intersection between software programming, geometry and visual art. You can check out our other projects at <a href="http://cr8tr.org">cr8tr.org</a>
        </li>
          </p>
        </div>
      </div>
    </header>
    <!-- End Header -->

    <!-- Article -->
    <article>
      <!-- List of people and description with their contact details which are visable on hover -->
      <ul class="thumbnails about-items">
        <li class="span3 center">
           <div class="item">
            <!-- Team member image -->
            <img class="img-circle" src="/samples/assets/micha.png" alt="Micheal Winkelmann">

            <!-- Team memeber details, activated on hover -->
            <!--
<div class="about-overlay img-circle">
              <div class="social-icons sicon-white">
                <a href="#" class="sicon-facebook"><i>Facebook</i></a>
                <a href="#" class="sicon-twitter"><i>Twitter</i></a>
                <a href="#" class="sicon-linkedin"><i>LinkedIn</i></a>
                <a href="#" class="sicon-youtube"><i>Youtube</i></a>
                <a href="#" class="sicon-pinterest"><i>Pinterest</i></a>
              </div>
            </div>
 -->
          </div>

          <!-- Team member name and function -->
          <h5>
            Michael Winkelmann<br/>
            <small>Programmer</small>
          </h5>

          <!-- Team member short info -->
          <class="item"> <a href="http://wilstonoreo.net">wilstonoreo.net</a>
        </li>

         <li class="span3 center">
           <div class="item">
            <!-- Team member image -->
            <img class="img-circle" src="/samples/assets/brook2.png" alt="Brook Cronin">

            <!-- Team memeber details, activated on hover -->
            <!--
<div class="about-overlay img-circle">
              <div class="social-icons sicon-white">
                <a href="#" class="sicon-facebook"><i>Facebook</i></a>
                <a href="#" class="sicon-twitter"><i>Twitter</i></a>
                <a href="#" class="sicon-linkedin"><i>LinkedIn</i></a>
                <a href="#" class="sicon-youtube"><i>Youtube</i></a>
                <a href="#" class="sicon-pinterest"><i>Pinterest</i></a>
              </div>
            </div>
 -->
          </div>

          <!-- Team member name and function -->
          <h5>
            Brook Cronin<br/>
            <small>Designer</small>
          </h5>

          <!-- Team member short info -->
          <class="item"> <a href="http://brookcronin.com">brookcronin.com</a>
        </li>

         <li class="span3 center">
           <div class="item">
            <!-- Team member image -->
            <img class="img-circle" src="/samples/assets/lukas.png" alt="Lukas Oehmigen">

            <!-- Team memeber details, activated on hover -->
            <!--
<div class="about-overlay img-circle">
              <div class="social-icons sicon-white">
                <a href="#" class="sicon-facebook"><i>Facebook</i></a>
                <a href="#" class="sicon-twitter"><i>Twitter</i></a>
                <a href="#" class="sicon-linkedin"><i>LinkedIn</i></a>
                <a href="#" class="sicon-youtube"><i>Youtube</i></a>
                <a href="#" class="sicon-pinterest"><i>Pinterest</i></a>
              </div>
            </div>
 -->
          </div>

          <!-- Team member name and function -->
          <h5>
            Lukas Oehmigen<br/>
            <small>Artist</small>
          </h5>

          <!-- Team member short info -->
          <class="item"> <a href="https://cr8tr.org">cr8tr.org</a>
        </li>

        <li class="span3 center">
           <div class="item">
            <!-- Team member image -->
            <img class="img-circle" src="/samples/assets/steph.png" alt="Stephanie Lange">

            <!-- Team memeber details, activated on hover -->
            <!--
<div class="about-overlay img-circle">
              <div class="social-icons sicon-white">
                <a href="#" class="sicon-facebook"><i>Facebook</i></a>
                <a href="#" class="sicon-twitter"><i>Twitter</i></a>
                <a href="#" class="sicon-linkedin"><i>LinkedIn</i></a>
                <a href="#" class="sicon-youtube"><i>Youtube</i></a>
                <a href="#" class="sicon-pinterest"><i>Pinterest</i></a>
              </div>
            </div>
 -->
          </div>

          <!-- Team member name and function -->
          <h5>
            Stephanie Lange<br/>
            <small>Designer</small>
          </h5>

          <!-- Team member short info -->
          <class="item"> <a href="cr8tr.org">cr8tr.org</a>
        </li>
        </article>
    <!-- End Article -->
  </div>
</div>
<!-- END PAGE | ABOUT -->
