<!-- PAGE | footer2 -->
<footer>
<div class="pages page-footer2" id="page-footer2">
  <div class="container">
    <h4 class="line-divider-inline center">
    <img src="{{ 'logo.png' | theme_image_url }}" alt="Omnidome">
     </h4>
    <!-- Short text related to client's -->
    <div class="row-fluid">
      <div class="span12 center">
        <p>
         <p>© Copyright - All rights reserved 2016.<br>
        Omnidome is a product developed by CR8TR GmbH iG <br>Turmstrasse 70, 10551 Berlin.</br><br>
        This website uses cookies. You are reading our privacy statement, go back <a href="./">here</p>
        </p>
      </div>
    </div>
  </div>
</div>
</footer>
<!-- END PAGE | footer2 -->
