<nav class="fixed-top" id="navigation">
  <div class="container">
    <div class="row-fluid">
      <div class="span12 center">
        <!-- LOGO -->
        <a class="brand pull-left" href="./">
            <img src="{{ 'logo.png' | theme_image_url }}" alt="Omnidome">
            <span>OMNIDOME</span>
        </a>

        <!-- END LOGO -->

        <!-- MOBILE MENU BUTTON -->
        <div class="mobile-menu" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </div>
        <!-- END MOBILE MENU BUTTON -->

        <!-- MAIN MENU -->
        <ul id="main-menu" class="nav-collapse collapse">
          <li><a href="#page-welcome">Home</a></li>
          <li><a href="#page-software">Sofware</a></li>
          <li><a href="#page-usecases">Use Cases</a></li>
          <li><a href="#page-services">Services</a></li>
          <li><a href="#page-about">About</a></li>
          <li><a href="#page-contact">Contact</a></li>
          <li><a target="_blank" href ="/manual">Manual</a></li>
        </ul>
        <!-- END MAIN MENU -->

        <!-- SOCIAL ICONS -->
        <div class="social-icons sicon-white hover-big pull-right">
          <a href="https://twitter.com/_omnidome" class="sicon-twitter"><i>Twitter</i></a>
          <a href="https://vimeo.com/cr8tr" class="sicon-vimeo"><i>Vimeo</i></a>
          <a href="https://github.com/cr8tr" class="sicon-github"><i>Github</i></a>
        </div>
        <!-- END SOCIAL ICONS -->
      </div>
    </div>
  </div>
</nav>
