<!-- PAGE | USECASES -->
<div class="pages page-usecases" id="page-manual-contents">
  <div class="container">
    <!-- Header -->
      <div style="height: 2em"></div>

    <header>
      <!-- PAGE | MANUALS -->
          <div class="pages page-usecases" id="page-manual">
            <div class="container">
              <!-- Header -->

              <header>
                <h4 class="line-divider">user guides</h4>
                <h2>Omnidome User Manual</h2>
              </header>
                <!-- End Header -->
            </div>
         </div>
    </header>
    <!-- End Header -->

    <!-- Article -->
    <article>


            <h12>TABLE OF CONTENTS</12>
            <br>
<!-- Intro -->
              <h12>
              <a href="/manual#page-manual-intro" style="color: black;">Introduction to the software</a>
              </h12>
            <br>
              <a href="/manual#page-manual-install" style="color: black;">Installing Omnidome</a>
            <br>
          <div class="subsection">
            <a href="/manual#platform" style="color: black;">Platforms</a>
              <br>
              <a href="/manual#sysreq" style="color: black;">System Requirements</a>
          </div>

<!-- Screens -->
            <h12>
              <a href="/manual#page-manual-projectors" style="color: black;">Detecting your projectors</a>
            </h12>
            <div class="subsection">
                <a href="/manual#screenselect" style="color: black;">Screen Selection</a>
                <br>
                <a href="/manual#proj" style="color: black;">Assigning Projectors</a>
                <br>
              <a href="/manual#triphead" style="color: black;">Working With Matrox Tripleheads</a>
            </div>

<!-- Canvases -->
            <h12>
            <a href="/manual#page-manual-canvas" style="color: black;">Creating your canvas</a>
            </h12>

            <div class="subsection">
                <a href="/manual#canvastype" style="color: black;">Canvas Types</a>
                <br>
                <a href="/manual#scenecontrol" style="color: black;">Scene Controls</a>
                <br>
                <a href="/manual#inputselect" style="color: black;">Input Selection</a>
            </div>

<!-- Arranging -->
            <h12>
              <a href="/manual#page-manual-arrange" style="color: black;">Arranging Your Projectors</a>
            </h12>
            <div class="subsection">
                <a href="/manual#projcontrol" style="color: black;">Projector Controls</a>
                <br>
                <a href="/manual#scenemap" style="color: black;">Mapping the Scene</a>
                <br>
                <a href="/manual#useinput" style="color: black;">Using the Inputs</a>
            </div>

<!-- Warping -->
            <h12>
              <a href="/manual#page-manual-warp" style="color: black;">Warp Grids</a>
            </h12>
            <div class="subsection">
                <a href="/manual#warpbasic" style="color: black;">Warping Basics</a>
                <br>
                <a href="/manual#warpoptions" style="color: black;">Warping Options</a>
                <br>
                <a href="/manual#warpview" style="color: black;">Warp Viewport Options</a>
            </div>

<!-- Blending -->
            <h12>
              <a href="/manual#page-manual-blend" style="color: black;">Blending Your Projectors</a>
            </h12>
            <div class="subsection">
              <a href="/manual#blendbrush" style="color: black;">Blend Brush Usage <a>
              <br>
              <a href="/manual#blendcontrols" style="color: black;">Blending Options</a>
              <br>
              <a href="/manual#blendview" style="color: black;">Blend Viewport Options</a>
            </div>

<!-- Colour Correction -->
            <h12>
              <a href="/manual#page-manual-colour" style="color: black;">Colour Correction</a>
            </h12>
              <div class="subsection">
                <a href="/manual#colouruse" style="color: black;">Colour Correction Uage<a>
                  <br>
                <a href="/manual#colourcontrol" style="color: black;">Colour Correction Options</a>
                  <br>
               <a href="/manual#colourview" style="color: black;">Colour Viewport Options</a>
             </div>

<!-- Export Features -->
            <h12>
              <a href="/manual#page-manual-export" style="color: black;">Export Features</a>
            </h12>
              <div class="subsection">
                <a href="/manual#exportformat" style="color: black;">Export Formats<a>
                 <br>
                <a href="/manual#exportdata" style="color: black;">Exported Data</a>
                  <br>
               <a href="/manual#exportusage" style="color: black;">Usage</a>
             </div>

<!-- Live Mode -->
            <h12>
              <a href="/manual#page-manual-live" style="color: black;">Live Mode</a>
            </h12>
              <div class="subsection">
                <a href="/manual#exportformat" style="color: black;">Export Formats<a>
                  <br>
                <a href="/manual#exportdata" style="color: black;">Exported Data</a>
                  <br>
                <a href="/manual#exportusage" style="color: black;">Usage</a>
              </div>


<div style="height: 6em"></div>

    </div>
</div>



    </article>
    <!-- End Article -->


<!-- END PAGE | SERVICES -->
