<!-- PAGE | MANUALS-INSTALL -->
<div class="pages page-usecases" id="page-manual-install">
  <div class="container">
    <!-- Header -->
      <div style="height: 2em"></div>

    <header>
      <!-- PAGE | MANUALS -INTRO -->

    <!-- End Header -->

    <!-- Article -->
    <article>


            <h12>INSTALLATION</12>
          <div class="subsection">
            Omnidome installers can be downloaded from <a href="https://github.com/cr8tr/omnidome/releases/tag/v1.0.0">here</a>
          </div>

          <br>

          <div class="subsection">
            <p id="platform">Platform</p> <br>
            Omnidome has been tested and works on:<br>
             Mac OS X: El-Capitan, Yosemite & Mavericks.<br>
             Linux: Ubuntu Desktop 14.04.<br>
          </div>

          <br>

          <div class="subsection">
            <p id="sysreq">System Requirements</p><br>
            Minimum for three projectors<br><br>
            Macbook pro Laptop<br>
            i7 2.6 ghz processor<br>
            1GB Graphics Card<br>
            8gb Ram<br>
            SSD<br>
            Matrox Triplehead DP Edition<br><br>

            Recommended for 6 projectors<br><br>
            Mac Pro or equivalent<br>
            4ghz Processor<br>
            4GB Graphics Card with OpenGL Support (Nvidia recommended)<br>
            minimum 3 x Display Ports Output<br>
            16GB RAM (32 recommended)<br>
            SSD<br>
            2 x Matrox Triplehead DP Edition
          </div>

<div style="height: 6em"></div>

    </div>
</div>



    </article>
    <!-- End Article -->


<!-- END PAGE | SERVICES -->
