<!-- PAGE | MANUALS-CANVAS -->
<div class="pages page-usecases" id="page-manual-colour">
  <div class="container">
    <!-- Header -->
      <div style="height: 2em"></div>

    <header>
      <!-- PAGE | MANUALS -INTRO -->

    <!-- End Header -->

    <!-- Article -->
    <article>


            <h12>Colour Correction</12>

        <div class="subsection">
            <p id="colouruse">Using the Colour Adjustments</p> <br>
          As using multiple projectors can result in different colours in each projector, even if the projectors are the same make and model they can
          project different colours depending on the lamp usage or calibration.
          <br>
          <br>
          With the Colour Correction controls you can correct the overall colour and the individual colour channels.
          The contols can be found in the Colour Adjustment Tab in the left hand panel.
          <br>
          <br>
          Colour Correction toggle - Enables / Disables the colour correction for the current projector.
          <br>
          All toggle - When selected the sliders will effect all channels at the same time.
          <br>
          RED toggle - When selected only the Red channel will be effected.
          <br>
          GREEN toggle - When selected only the Green channel will be effected.
          <br>
          BLUE toggle - When selected only the Blue channel will be effected.
          <br>
          <br>
          Brightness Slider - Slide to adjust the Brightness of the selected channel.
          <br>
          Contrast Slider - Slide to adjust the contrast of the selected channel.
          <br>
          Gamma Slider - Slide to adjust the gamma of the selected channel.
          <br>
          Multiplier - Slide to adjust the ammount each of the sliders above effect the image.
          <br>
          Reset - Toggle to reset the Colour Adjustments of the currently selected projector.
          </div>

          <br>

          Correcting all channels
          <br>

          <img src="{{ 'manual/colour2.png' | theme_image_url }}" width="auto"  alt="Colour Correction">

          <br>
          <br>

          <div class="subsection">
            <p id="colourcontrol">Testing with your Input</p><br>
          It is advisable to test here with a sample of your content to check if the colours will be correct in your projection space.
          You can add a still image via the Picture Loader or use a Syphon Input from the Input Tab in the left hand panel.
          </div>




          <!-- <br>
          <br>


          <div class="subsection">
            <p id="colourview">Colour Viewport Options</p><br>
            Use the view contols to see the blend masks of the current projector.
          </div>
          <br>

          <img src="/images/manual/blend1.png" width="1200" height="auto" alt="Add Input">

          <br> -->

<div style="height: 6em"></div>

    </div>
</div>



    </article>
    <!-- End Article -->


<!-- END PAGE | SERVICES -->
