<!-- PAGE | MANUALS-PROJECTORS -->
<div class="pages page-usecases" id="page-manual-projectors">
  <div class="container">
    <!-- Header -->
      <div style="height: 2em"></div>

    <header>
      <!-- PAGE | MANUALS -INTRO -->

    <!-- End Header -->

    <!-- Article -->
    <article>


            <h12>DETECTING PROJECTORS</12>

        <div class="subsection">
            <p id="screenselect">Screen Selection</p> <br>
            Screen Selection should happen automatically,
            in the middle panel you should see all projectors and monitors
            currently connected to your graphics card.
          </div>

          <br>

          <img src="/images/manual/screen1.png" width="1200" height="auto" alt="Screen Selection 1">

          <br>
          <br>

          <div class="subsection">
            <p id="proj">Assigning Projectors</p><br>
            Projectors are assgined by creating a projector with the add
            button in the bottom of the right hand tab, add as many projectors here
            as you have and assign them by dragging them to the screens in the middle.
          </div>

          <br>
          <img src="/images/manual/screen2.png" width="1200" height="auto" alt="Screen Selection 2">

          <br>
          <br>


          <div class="subsection">
            <p id="triphead">Working with Matrox TripleHeads</p><br>
            Matrox TripleHeads are automatically detected and split into their component subscreens.
            You should see the large window representing your matrox device along with
            however many subscreens (projectors) are attached to the device.
            Assign your projectors to the corresponding subscreen.
          </div>

          <br>
          <img src="/images/manual/screen3.png" width="1200" height="auto" alt="Screen Selection 3">


<div style="height: 6em"></div>

    </div>
</div>



    </article>
    <!-- End Article -->


<!-- END PAGE | SERVICES -->
