<!-- PAGE | MANUALS-CANVAS -->
<div class="pages page-usecases" id="page-manual-live">
  <div class="container">
    <!-- Header -->
      <div style="height: 2em"></div>

    <header>
      <!-- PAGE | MANUALS -INTRO -->

    <!-- End Header -->

    <!-- Article -->
    <article>


            <h12>Live Mode</12>

        <div class="subsection">
            <p id="live1">Using Syphon or BlackMagic Inputs</p> <br>
      Omnidome's Live Mode allows you to stream your content directly through the Omnidome App
      using either a Syphon Output from another app (VJ Software, Processing ot Cinder app)
      or a BlackMagic Output from a seperate computer. (BlackMagic is not available in the free version,
      to purchase this please visit the <a href="/#plugins">plugins</a> page).
          </div>

          <br>
          <br>

          <img src="{{ 'manual/live2.png' | theme_image_url }}" width="auto"  alt="Live 1">

          <br>
          <br>

          <div class="subsection">
            <p id="live2">Live Mode Preview</p><br>
        By clicking on the Live Mode in Omnidome you lock the arrangement, warping and blending parameters,
        increasing the performance of Omnidome.
          <br>
          <br>
          <img src="{{ 'manual/live1.png' | theme_image_url }}" width="auto"  alt="live 2">

<div style="height: 6em"></div>

    </div>
</div>



    </article>
    <!-- End Article -->


<!-- END PAGE | SERVICES -->
