<!-- PAGE | USECASES -->
<div class="pages page-usecases" id="page-manual-contents">
  <div class="container">
    <!-- Header -->
      <div style="height: 2em"></div>

    <header>
      <!-- PAGE | MANUALS -->
          <div class="pages page-usecases" id="page-manual">
            <div class="container">
              <!-- Header -->

              <header>
                <h4 class="line-divider">user guides</h4>
                <h2>Omnidome User Manual & Tutorials</h2>
              </header>
                <!-- End Header -->
            </div>
         </div>
    </header>
    <!-- End Header -->

    <!-- Article -->
    <article>


            <h12>TABLE OF CONTENTS</12>
            <br>
              <h12>Introduction to the software</h12>
            <br>
              <h12>Installing Omnidome</h12>
            <br>
          <div class="subsection">
              Platforms
              <br>
              System Requirements
          </div>

            <h12>Detecting your projectors</h12>
            <div class="subsection">
                Screen Selection
                <br>
                Assigning Projectors
                <br>
                Working With Matrox Tripleheads
            </div>
            <h12>Creating your canvas</h12>
            <div class="subsection">
                Canvas Types
                <br>
                Scene Controls
                <br>
                Input Selection
            </div>
            <h12>Arranging Your Projectors</h12>
            <div class="subsection">
                Projector Controls
                <br>
                Maping the Scene
                <br>
                Using the Inputs
            </div>

<div style="height: 6em"></div>

    </div>
</div>



    </article>
    <!-- End Article -->


<!-- END PAGE | SERVICES -->
