<!-- PAGE | MANUALS-CANVAS -->
<div class="pages page-usecases" id="page-manual-canvas">
  <div class="container">
    <!-- Header -->
      <div style="height: 2em"></div>

    <header>
      <!-- PAGE | MANUALS -INTRO -->

    <!-- End Header -->

    <!-- Article -->
    <article>


            <h12>CREATING YOUR CANVAS</12>

        <div class="subsection">
            <p id="canvastype">Canvas Types</p> <br>
            Add Canvases in the Canvas Tab of the left panel
          </div>

          <br>

          Half Dome Canvas
          <br>
          <img src="/images/manual/canvas1.png" width="1200" height="auto" alt="Half Dome">

          Full Sphere Canvas
          <br>
          <img src="/images/manual/canvas2.png" width="1200" height="auto" alt="Full Sphere">

          Box Canvas
          <br>
          <img src="/images/manual/canvas3.png" width="1200" height="auto" alt="Box">

          <br>
          <br>

          <div class="subsection">
            <p id="scenecontrol">Scene Controls</p><br>
            Control the scene information from the Scene Tab in the left panel.
          </div>

          <br>
          <img src="/images/manual/scene1.png" width="1200" height="auto" alt="Scene Controls">

          <br>
          <br>


          <div class="subsection">
            <p id="inputselect">Adding Inputs to your scene</p><br>
            Add inputs from the Input Tab in the left panel.
          </div>

          <br>
          Input selected in the left tab
          <br>

          <img src="/images/manual/input1.png" width="1200" height="auto" alt="Add Input">

          <br>
          Fisheye Test Image
          <br>

          <img src="/images/manual/input2.png" width="1200" height="auto" alt="Add Input">


<div style="height: 6em"></div>

    </div>
</div>



    </article>
    <!-- End Article -->


<!-- END PAGE | SERVICES -->
