<!-- PAGE | MANUALS-CANVAS -->
<div class="pages page-usecases" id="page-manual-live">
  <div class="container">
    <!-- Header -->
      <div style="height: 2em"></div>

    <header>
      <!-- PAGE | MANUALS -INTRO -->

    <!-- End Header -->

    <!-- Article -->
    <article>


            <h12>Live Mode</12>

        <div class="subsection">
            <p id="exportformat">Using Syphon or BlackMagic Inputs</p> <br>
      Omnidome's Live Mode allows you to stream your content directly through the Omnidome App
      using either a Syphon Output from another app (VJ Software, Processing ot Cinder app)
      or a BlackMagic Output from a seperate computer. (BlackMagic is not available in the free version,
      to purchase this please visit the <a href="/#plugins">plugins</a> page).
          </div>

          <br>
          <br>
          <img src="/images/manual/blend1.png" width="1200" height="auto" alt="Half Dome">

          <br>
          <br>

          <div class="subsection">
            <p id="exportdata">Live Mode Preview</p><br>
        By clicking on the Live Mode in Omnidome you lock the arrangement, warping and blending parameters,
        increasing the performance of Omnidome.
          <br>
          <br>
          <img src="/images/manual/blend1.png" width="1200" height="auto" alt="Scene Controls">


          <br>
          <br>


          <div class="subsection">
            <p id="exportusage">Live Mode Viewport Options</p><br>
            Load your mapping data into another software via a custom plugins,
            useful for building games in platforms such as Unity,
            here is some of our plugns you can purchase.
            <a href="/#plugins">plugins</a>
          </div>
          <br>

          <img src="/images/manual/blend1.png" width="1200" height="auto" alt="Add Input">

          <br>

<div style="height: 6em"></div>

    </div>
</div>



    </article>
    <!-- End Article -->


<!-- END PAGE | SERVICES -->
