<!-- PAGE | MANUALS-INTRO -->
<div class="pages page-usecases" id="page-manual-intro">
  <div class="container">
    <!-- Header -->
      <div style="height: 2em"></div>

    <header>
      <!-- PAGE | MANUALS -INTRO -->

    <!-- End Header -->

    <!-- Article -->
    <article>


            <h12>INTRODUCTION</12>
          <div class="subsection">
            CR8TR are proud to announce that the Public Beta Version will be available for download on the 5th of May, following our launch party at the Republica Conference 2016.
<br>
<br>
Omnidome is a multiplatform opensource video mapping tool, primarily for mapping all types of domes and spherical surfaces. It can also be used to map rectangular rooms into a single cohesive screen, creating a CAVE virtual environment.
Omnidome is developed by CR8TR GmbH, An Altered Reality Laboratory based in Berlin, consisting of a team of dedicated designers, software engineers and artists. Specializing in the field of Spatial Mapping, Geometry, Virtual & Augmented Reality and transformative technologies.
<br>
<br>
What can I use Omnidome for?
<br>
<br>
Omnidome can be used to map either half sphere, full sphere or boxes (rectangular environments) into one single seamless projection surface, with the projection correctly distorted to match the geometry of that room.
<br>
<br>
Ok, what then?
<br>
<br>
Well, then you can project a 360 degree image onto your room, dome or geometry and the projection will be optically correct, as in it will appear to the viewer that they are now in the virtual space in the projection rather than the original reality of the room / dome they were in before.
<br>
<br>
So it's like a Holodeck then?
<br>
<br>
Yeah, it's basically a tool set for making your own holodeck, either in a dome or a normal box room.
<br>
<br>
What kind of content can Omnidome play?
<br>
<br>
Omnidome can do a lot of different things in a lot of different ways, it's a toolkit designed to bring life to your ideas and as such is not limited in functionality.

</div>

<div style="height: 6em"></div>

    </div>
</div>



    </article>
    <!-- End Article -->


<!-- END PAGE | SERVICES -->
