<!-- PAGE | MANUALS-CANVAS -->
<div class="pages page-usecases" id="page-manual-blend">
  <div class="container">
    <!-- Header -->
      <div style="height: 2em"></div>

    <header>
      <!-- PAGE | MANUALS -INTRO -->

    <!-- End Header -->

    <!-- Article -->
    <article>


            <h12>Blending Your Projectors</12>

        <div class="subsection">
            <p id="blendbrush">Using the Brushes</p> <br>
          In order to create one seamless image it is neccesarry to remove overlapping areas of the projectors and create a blend between the edges.
          To achieve this we created a paintbrush tool to make the blending process as intuative as possible. Use the left mouse button to remove the image and the right mouse button to reveal.
          Hold shift and click between two points to draw in a straight line.
          <br><br>
          The Blending brush has the following options, located in the top Brush section of the Blend Tab in the left hand panel:
          <br>
          Invert button - Select to remove or reveal the image with the paint brush.
          <br>
          Brush Size - Controls the diameter of the brush.
          <br>
          Opacity - Controls the opacity of the brush, i.e how transparent the painted area will be.
          <br>
          Feather - Controls the feathered edge of the paintbrush, how soft or hard the edge will be.

          </div>

          <br>

          Painting with the Blend Brush
          <br>
          <img src="{{ 'manual/blend1.png' | theme_image_url }}" width="auto"  alt="Blending 1">

          <br>
          <br>

          <div class="subsection">
            <p id="blendcontrols">Edge Mask Controls</p><br>
          An additional set of controls for Blending are available in the lower part of the Blend Tab, located in the left hand panel.
          These controls effect the edges of the blend mask and can be useful when only a straight blend edge is required.
          <br>
          <br>
          The Edge Mask has the following options located in the lower left Edge Mask section of the Blend Tab in the left panel.
          <br>
          Gamma - Affects the overall brightness and opacitity of the Edge Mask.
          <br>
          Top - Slide to add or remove the top edge.
          <br>
          Left - Slide to add or remove the left edge.
          <br>
          Right - Slide to add or remove the right edge.
          <br>
          Bottom - Slide to add or remove the bottom edge.
          </div>

          <br>
          <img src="{{ 'manual/blend1.png' | theme_image_url }}" width="auto"  alt="Blending 1">


          <br>
          <br>


          <div class="subsection">
            <p id="blendview">Blend Viewport Options</p><br>
            Use the view contols to see the blend masks of the current projector.
            <br>
            <br>
            Viewport options are in the Edge Mask section in the lower part of the Blend Mask Tab in the left hand panel.
            <br>
            <br>
            Coloured Mask / White Mask toggle - Select betwen the assigned projector colour and a white mask.
            Input Opacity - Slide to reveal your input image.
          </div>

          <br>


          <img src="/images/manual/blend1.png" width="1200" height="auto" alt="Add Input">

          <br>

<div style="height: 6em"></div>

    </div>
</div>



    </article>
    <!-- End Article -->


<!-- END PAGE | SERVICES -->
