<!-- PAGE | MANUALS-CANVAS -->
<div class="pages page-usecases" id="page-manual-colour">
  <div class="container">
    <!-- Header -->
      <div style="height: 2em"></div>

    <header>
      <!-- PAGE | MANUALS -INTRO -->

    <!-- End Header -->

    <!-- Article -->
    <article>


            <h12>Colour Correction</12>

        <div class="subsection">
            <p id="colouruse">Using the Colour Correction</p> <br>
          Warping is a fine tuning tool and works best when the projectors are postioned as accurately as possible.
          Select your projector by cliking on the preview in the right hand projector panel, this will update the main view.
          Use the Warp Tab in the left hand panel to select the number of vertical and horizontal warp points.
          Click and drag a warp point in the main viewport to move it.
          </div>

          <br>

          Using the Warp Grid
          <br>
          <img src="/images/manual/blend1.png" width="1200" height="auto" alt="Half Dome">

          <br>
          <br>

          <div class="subsection">
            <p id="colourcontrol">Extra Colour Controls</p><br>
          Hold Command on Mac or CTL on Linux to select Multiple points to move together.
          </div>

          <br>
          <img src="/images/manual/blend1.png" width="1200" height="auto" alt="Scene Controls">


          <br>
          <br>


          <div class="subsection">
            <p id="colourview">Colour Viewport Options</p><br>
            Use the view contols to see the blend masks of the current projector.
          </div>
          <br>

          <img src="/images/manual/blend1.png" width="1200" height="auto" alt="Add Input">

          <br>

<div style="height: 6em"></div>

    </div>
</div>



    </article>
    <!-- End Article -->


<!-- END PAGE | SERVICES -->
