<!-- PAGE | USECASES -->
<div class="pages page-usecases" id="page-manual-contents">
  <div class="container">
    <!-- Header -->
      <div style="height: 2em"></div>

    <header>
      <!-- PAGE | MANUALS -->
          <div class="pages page-usecases" id="page-manual">
            <div class="container">
              <!-- Header -->

              <header>
                <h4 class="line-divider">user guides</h4>
                <h2>Omnidome User Manual & Tutorials</h2>
              </header>
                <!-- End Header -->
            </div>
         </div>
    </header>
    <!-- End Header -->

    <!-- Article -->
    <article>


            <h12>TABLE OF CONTENTS</12>
            <br>
              <h12>
              <a href="/manual#page-manual-intro" style="color: black;">Introduction to the software</a>
              </h12>
            <br>
              <a href="/manual#page-manual-install" style="color: black;">Installing Omnidome</a>
            <br>
          <div class="subsection">
            <a href="/manual#platform" style="color: black;">Platforms</a>
              <br>
              <a href="/manual#sysreq" style="color: black;">System Requirements</a>
          </div>

            <h12>
              <a href="/manual#page-manual-projectors" style="color: black;">Detecting your projectors</a>
            </h12>
            <div class="subsection">
                <a href="/manual#screenselect" style="color: black;">Screen Selection</a>
                <br>
                <a href="/manual#proj" style="color: black;">Assigning Projectors</a>
                <br>
              <a href="/manual#triphead" style="color: black;">Working With Matrox Tripleheads</a>
            </div>


            <h12>
            <a href="/manual#page-manual-canvas" style="color: black;">Creating your canvas</a>
            </h12>

            <div class="subsection">
                <a href="/manual#canvastype" style="color: black;">Canvas Types</a>
                <br>
                <a href="/manual#scenecontrol" style="color: black;">Scene Controls</a>
                <br>
                <a href="/manual#inputselect" style="color: black;">Input Selection</a>
            </div>


            <h12>Arranging Your Projectors</h12>
            <div class="subsection">
                Projector Controls
                <br>
                Maping the Scene
                <br>
                Using the Inputs
            </div>

<div style="height: 6em"></div>

    </div>
</div>



    </article>
    <!-- End Article -->


<!-- END PAGE | SERVICES -->
