<!-- PAGE | MANUALS-CANVAS -->
<div class="pages page-usecases" id="page-manual-export">
  <div class="container">
    <!-- Header -->
      <div style="height: 2em"></div>

    <header>
      <!-- PAGE | MANUALS -INTRO -->

    <!-- End Header -->

    <!-- Article -->
    <article>


            <h12>Exporting Your Mapping</12>

        <div class="subsection">
            <p id="exportformat">Export Formats</p> <br>
        You can choose to export your mapping data and use it inside another application or plugin, such as Unity, A VJ App or Quartz Composer.
        Export either the texture co-ordinates, or our own OmniCalib Calibration Format. For more info on this see here:(LINK).
          </div>

          <br>
          <br>
          <img src="/images/manual/blend1.png" width="1200" height="auto" alt="Half Dome">

          <br>
          <br>

          <div class="subsection">
            <p id="exportdata">Export Previews</p><br>
        Preview Export data.
          <br>
          <img src="/images/manual/blend1.png" width="1200" height="auto" alt="Scene Controls">


          <br>
          <br>


          <div class="subsection">
            <p id="exportusage">Export Usage</p><br>
            Load your mapping data into another software via a custom plugins,
            useful for building games in platforms such as Unity. <br>
            here is some of our plugns you can purchase.
            <a href="/#plugins">plugins</a>
          </div>
          <br>

          <img src="/images/manual/blend1.png" width="1200" height="auto" alt="Add Input">

          <br>

<div style="height: 6em"></div>

    </div>
</div>



    </article>
    <!-- End Article -->


<!-- END PAGE | SERVICES -->
