<!-- PAGE | WORK -->
<div class="pages page-work" id="page-plugins">
  <div class="container">
    <!-- Header -->
    <header>
      <h4 class="line-divider">Plugins</h4>
      <h7>AVAILABLE PLUGINS - COMING SOON!</h7>
      <br>
      <br>

      <!-- Short desciption about Work in general -->
      <div class="row">
        <div class="span12">
          <p>
          <h9>
            OMNIDOME comes as a fully functional Mapping software released under an OpenSource Licence, meaning it is free to download and use.

            The OpenSource version is constrained to a 6 Projector Maximum (the commercial license supports unlimited channels).

            We have created a plugin system which allows you to upgrade the functionality of the Omnidome System.

            <br><br>
            Here are some examples of the plugins we will be offering.
          </h9>

            <br><br>
          <h7>
            Auto Calibration
          </h7>
            <br>
            <br>
            <h9>
            Fully automatic auto calibration, point a camera at your scene and press a button and your
            mapping will be automatically calibrated, with edge blending and colour correction.
          </h9>
            <br>
            <br>
            <h7>
              3D Model Loader
            </h7>
            <br>
            <h9>
            Import a 3D Model (STL, OBJ, PLY) into your scene and map directly on to your own geometry.
            <br><br>
            <h7>
            Black Magic Input Capture
            </h7>
            <br>
            <h9>
            Capture a live feed directly from a Black Magic input device.
            </h9>
            <br><br>
            <h7>
            Unlimited Projectors
           </h7>
            <br>
            <h9>
            Literally go crazy, as many as your graphics hardware can handle.
           </h9>
            <br><br>
            <h7>
            Virtual Screen Manager
            </h7>
            <br>
            <h9>
            Add Virtual screens to your mapped space directly in Omnidome.
            </h9>
            <br><br>
            <h7>
            Unity Game Engine plugin
            </h7>
            <br>
            Load your mapping data directly into your Unity file and export a game correctly mapped to your environment.

            </h9>
          </p>
        </div>
      </div>
    </header>
    <!-- End Header -->

    <div style="height: 6em"></div>

  </div>
</div>
<!-- PAGE | WORK -->

<!--
<div class="show-more-cube">
   <a href="#pages/portfolio/readmore.html" data-destination="plugin-filter-elements" data-insert="appendTo" data-action="remove">
    <span>Show<br/>More</span>
  </a>
</div>
-->
