<!-- PAGE | WORK -->
<div class="pages page-work" id="page-plugins">
  <div class="container">
    <!-- Header -->
    <header>
      <h4 class="line-divider">Pluigns</h4>
      <h7>AVAILABLE PLUGINS</h7>
      <br>
      <br>

      <!-- Short desciption about Work in general -->
      <div class="row">
        <div class="span12">
          <p>
            <h9>
            OMNIDOME is a arbitrary surface projection mapping tool built by CR8TR. <br>
            It allows you to map any physical room and project virtual content back on to it. <br>
            What it does, it turns the whole world into a 360° VR display, making VR a shared and social experience. <br>
            Omnidome is Opensource, Multiplatform and designed for Artists.
            </h9>
          </p>
        </div>
      </div>
    </header>
    <!-- End Header -->

    <!-- Article -->
    <article>
    



    </article>
    <!-- End Article -->

  </div>
</div>
<!-- PAGE | WORK -->

<!--
<div class="show-more-cube">
   <a href="#pages/portfolio/readmore.html" data-destination="plugin-filter-elements" data-insert="appendTo" data-action="remove">
    <span>Show<br/>More</span>
  </a>
</div>
-->
