<!-- PAGE | SERVICES -->
<div class="pages page-services" id="page-services">
  <div class="container">
    <!-- Header -->
    <header>
      <h4 class="line-divider">Services</h4>
      <h1>HIRE US FOR YOUR PROJECT</h1>
      <div class="row">
        <div class="span8 offset2">
          <p>
            Omnidome is a product developed by CR8TR GmbH. We are available for consultancy on projects related to the production and performance of Fulldome immersive shows, videomapping, content creation, custom programming and hardware. Please contact us via the contact form for a quote.
          </p>
        </div>
      </div>

      <!-- Sub menu -->
      {% comment %}
      <nav class="submenu">
        <ul>
          <li>
            <a href="./pages/blog/blog.html">Consultancy</a>
          </li>
          <li>
            <a href="./pages/blog/blog.html">Equipment</a>
          </li>
          <li>
            <a href="./pages/blog/blog.html">Content Creation</a>
          </li>
          <li>
            <a href="./pages/blog/blog.html">Plugins</a>
          </li>
          </ul>
      </nav>
      {% endcomment %}
      </header>    
    <!-- End Header -->

    <!-- Article -->
    <article>
<!--<div class="span5"> -->

<div class="col-md-12">
    <div class="row">
        <div class="col-sm-4">
             <h5>Fulldome Consultancy</h5>
             We are available for consulting on your full dome projects, we can offer a full range of services from guidence and advice on the Omnidome Software itself to full solutions for any type of dome installation or show. We specialise in Live performace with audio and visuals combined, our custom playback solution allows for advanced realtime graphics with audio reativity and interactive performance elements. 

             <br><br>

             <img src="/samples/assets/dome_show.jpg" alt="Dome Shows">

            <small>CCCamp 2015 Omnidome installation</small>
        </div>
        



        <div class="col-sm-4">
            <h5>Equipment Hire</h5>
                We also offer for events our custom built Omnidome Server, Running the Omnidome Calibration framework our server comes with either 8 or 16 channels and a 4k capture and output. This system is perfect for showing films or making presentations in a dome. Built on the opensource technologies of Linux and Omnidome, the Omniserver comes with a full plugin for playing all types of 360° content and also allows you to connect another laptop or computer to the server via the capture card, making playback easy and flexible for the user.
                <br><br>

                <img src="/samples/assets/server.jpg" alt="Omniserver">
                <small>Omnidome 19" Rack Server</small>
              </div>


        <div class="col-sm-4">
            <h5>Content Creation</h5>
                Our team of designers and artists are constantly creating new types of 360° immersive content, we are  film, animations, computer generated graphics, realtime immersive CAVE environments and games. Please get in touch if you are looking for someone to produce or consult on your 360° project.

                <br><br>
                <img src="/samples/assets/colour_dome.jpg" alt="Studio Dome">
                <small>Studio production dome setup in the Cr8tr Studio</small>

                <br><br>
              </div>
        </div>
    </div>
</div>

      
    </article>
    <!-- End Article -->
  </div>
</div>
<!-- END PAGE | SERVICES -->
