<!-- PAGE | SERVICES -->
<div class="pages page-services" id="page-services">
  <div class="container">
    <!-- Header -->
    <header>
      <h4 class="line-divider">Services</h4>
      <h2>Commercial Services</h2>
      <div class="row">
        <div class="span8 offset2">
          <p>
            <h10>OMNIDOME is OpenSource for non commercial applications.
              If you are a commercial user we kindly ask you to buy a commercial License.
              Commercial licenses offer an unlimited amount of output channels (only restricted by hardware) and an advanced feature set wich will give you the most advanced OMNIDOME experience.
              This also includes a full customer support.
            <br><br>Please contact us via the <a href="/#page-contact">Contact</a> form for a quote.</h10>
            <div id="visit-button" style="margin: 50px; padding: 10px;" align="center">
            <button class="button-custom2" onclick="window.location = '/#page-contact'"><a href="/#page-contact"> <i class="vc_btn3-icon fa fa-eye"></i> GET A QUOTE </a></button></div>
          </p>
        </div>
      </div>

      <!-- Sub menu -->
      {% comment %}
      <nav class="submenu">
        <ul>
          <li>
            <a href="./pages/blog/blog.html">Consultancy</a>
          </li>
          <li>
            <a href="./pages/blog/blog.html">Equipment</a>
          </li>
          <li>
            <a href="./pages/blog/blog.html">Content Creation</a>
          </li>
          <li>
            <a href="./pages/blog/blog.html">Plugins</a>
          </li>
          </ul>
      </nav>
      {% endcomment %}
      </header>
    <!-- End Header -->

    <!-- Article -->
    <article>
<!--<div class="span5"> -->

<div class="col-md-12">
    <div class="row">
        <div class="col-sm-4">
             <h2>VR Show Consultancy</h2>
             <h10>We are available for consulting on your live VR show projects. We offer a full range of services from guidence and advice on the Omnidome Software itself to full solutions for any type of VR projection installation or show. We specialise in Live performace with audio and visuals combined, our custom playback solution allows for advanced realtime graphics with audio reactivity and interactive performance elements.</h10>

             <br><br>

             <!-- <img src="/samples/assets/dome_show.jpg" alt="Dome Shows">

            <small>CCCamp 2015 Omnidome installation</small> -->
        </div>




        <div class="col-sm-4">
            <h2>OMNIDOME Server Hardware</h2>
                <h10>We offer OMNIDOME Servers in several configurations wich will serve your proffesional VR projection needs. They run our rock solid OMNIDOME Server framework which drive 8, 16, or 32 DisplayPort outputs and a 4k capture input. OMNIDOME Servers come with the full arbitrary surface support, an advanced feature set and are optimized to perform your 360° cinema or live experience reliably. </h10>
                <br><br>

                <!-- <img src="/samples/assets/server.jpg" alt="Omniserver">
                <small>Omnidome 19" Rack Server</small> -->
              </div>


        <div class="col-sm-4">
            <h2>Content Creation</h2>
                <h10>Our team of designers and artists are constantly creating new types of 360° immersive content. We are creating film, animations, computer generated graphics, realtime immersive VR environments and games. Please get in touch if you are looking for someone to produce or consult on your 360° project.</h10>

                <br><br>
                <!-- <img src="/samples/assets/colour_dome.jpg" alt="Studio Dome">
                <small>Studio production dome setup in the Cr8tr Studio</small> -->
                <br><br>
              </div>
        </div>
    </div>
</div>


    </article>
    <!-- End Article -->
  </div>
</div>
<!-- END PAGE | SERVICES -->
