<!-- PAGE | WORK -->
<div class="pages page-work" id="page-software">
  <div style="container">

    <div style="height: 6em"></div>
    <!-- Header -->
    <header>
      <h4 class="line-divider">About the Software</h4>
      <h7>WHAT IS OMNIDOME?</h7>
      <br>
      <br>

      <!-- Short desciption about Work in general -->

          <p>
            <h9>
            OMNIDOME is a arbitrary surface projection mapping tool built by <a href="https://cr8tr.org">CR8TR.</a><br>
            It allows you to map any physical room and project virtual content back on to it. <br>
            What it does, it turns the whole world into a 360° VR display, making VR a shared and social experience. <br>
            Omnidome is Opensource, Multiplatform and designed for Artists.
            <br>
            <br>
            OMNIDOME works natively with <a href="https://https://github.com/Syphon">Syphon</a> and All VJ / Performance software that support it.
            </h9>
          </p>

    </header>
    <!-- End Header -->

    <!-- Article -->
    <article>
      <h7>OMNIDOME VR1 SOFTWARE DEMO VIDEO</h7>
       <br>
       <br>
       <div style="margin-left: 10%; margin-right: 10%">
         <iframe src="https://player.vimeo.com/video/167266452" width="640" height="480" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    <p><a href="https://vimeo.com/167266452">OMNIDOME VR1 SOFTWARE DEMO</a> from <a href="https://vimeo.com/cr8tr">Cr8tr</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
      <br>
      <br>

      <h7>FEATURES</h7>

      <br>
      <br>
      <br>
      <br>

    <p>
      <h7>PLATFORM & LICENSE</h7>

      <br>
      <br>

        <h9>
        OpenSource - Free for artists to use, released under the <a href="http://www.gnu.org/licenses/agpl-3.0.en.html">AGPL3</a> Licence. <br>
        Multiplatform - Works on Mac OS X & Linux. <br>
       </h9>
    </p>

    <br>
    <br>

    <p>

      <h7>CANVAS TYPES</h7>
      <br>
      <br>

        <h9>
        Supports multiple types of projection canvases:<br><br>
        Full Spherical Mode<br>
        Half Dome Mode<br>
        Planar Mode<br>
        Box Mode<br>
        *3D Model Loading is available to purchase as a plugin, <br>
        please contact us if you are interested via our contact form<br>
       </h9>
    </p>

      <br>
      <br>

      <h7>MAPPING MODES</h7>
      <br>
      <br>

        <h9>
      Works with the following mapping types:<br><br>
        Equirectangular (Spherical Projection)<br>
        Fisheye (Half Dome Projection)<br>
        Cube Mapping<br>
        Planar Mapping<br>
       </h9>
    </p>

    <br>
    <br>

    <h7>INPUTS</h7>
    <br>
    <br>
      <h9>
    Use different inputs to calibrate and preview your mapping:<br><br>
      Features built in calibration inputs for each mapping type (Spherical, Fisheye, Cubic, Planar)<br>
      Add a still image to the input library<br>
      Use a Syphon output from another application for a live input.<br>
     </h9>
  </p>

  </div>



  <div style="height: 6em"></div>


    </article>
    <!-- End Article -->
</div>
</div>
<!-- PAGE | WORK -->

<!--
<div class="show-more-cube">
   <a href="#pages/portfolio/readmore.html" data-destination="plugin-filter-elements" data-insert="appendTo" data-action="remove">
    <span>Show<br/>More</span>
  </a>
</div>
-->
