<!-- PAGE | TWITTER -->
<div class="pages white paralax page-twitter" id="page-twitter">
  <!-- Page overlay -->
  <div class="overlay"></div>

  <!-- Block content -->
  <div class="container">
     <div class="row-fluid">
      <div class="span8 offset2">
        <!-- Sub title / Name of twitter account -->
        <h5 class="center">@_omnidome</h5>
        <div id="twitterfeed" class="center">
          <ul></ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- END PAGE | TWITTER -->
