<!-- PAGE | SERVICES -->
<div class="pages page-usecases" id="page-usecases">
  <div class="container">
    <!-- Header -->
    <header>
      <h4 class="line-divider">Use Cases</h4>
      <h1>WHAT CAN YOU DO WITH OMNIDOME?</h1>
      <div class="row">
        <div class="span8 offset2">
          <p>
            Omnidome is a tool developed for artists, VJ's, Set Designers & VR Creators, with it you can bring your creations back into the real world.
          </p>
        </div>
      </div>
    </header>
    <!-- End Header -->

    <!-- Article -->
    <article>
<!--<div class="span5"> -->

<div class="col-md-12">
    <div class="row">
        <div class="col-sm-4">
          <h3>Supported Canvas Types</h3>
             <h5>Fulldome Projections</h5>
            Project on Half domes or Full Spheres

             <!-- <br><br>
             <img src="/samples/assets/dome_show.jpg" alt="Dome Shows">
             <small>CCCamp 2015 Omnidome installation</small> -->

        </div>

        <div class="col-sm-4">
            <h5>Box Projections</h5>
                Convert a Rectangular room into a holodeck.

                <!-- <br><br>
                <img src="/samples/assets/server.jpg" alt="Omniserver">
                <small>Omnidome 19" Rack Server</small> -->

        </div>


        <div class="col-sm-4">
            <h5>3D Geometry</h5>
                Load in your own 3D models or scans and project back on to it.

                <!-- <br><br>
                <img src="/samples/assets/colour_dome.jpg" alt="Studio Dome">
                <small>Studio production dome setup in the Cr8tr Studio</small>
                <br><br> -->

        </div>
      </div>
    </div>
</div>


    </article>
    <!-- End Article -->
  </div>
</div>
<!-- END PAGE | SERVICES -->
