<!-- PAGE | USECASES -->
<div class="pages page-usecases" id="page-usecases">
  <div class="container">
    <!-- Header -->
      <div style="height: 6em"></div>

    <header>
      <h4 class="line-divider">Use Cases</h4>
      <h2>WHAT CAN YOU DO WITH OMNIDOME?</h2>

          <p>
          <h10>  Omnidome is a tool developed for artists, VJ's, Set Designers & VR Creators, with it you can bring your creations back into the real world.</h10>
          </p>

    </header>
    <!-- End Header -->

    <!-- Article -->
    <article>
<!--<div class="span5"> -->

<div class="col-md-12">
    <div class="row">
        <div class="col-sm-4">
          <h3>Supported Canvas Types</h3>
             <h5>Fulldome Projections</h5>
            <h10>Project on Half domes or Full Spheres</h10>
            <br>

              <img src="/images/fulldome.png" width="500" height="250" alt="fulldome">

             <!-- <br><br>
             <img src="/samples/assets/dome_show.jpg" alt="Dome Shows">
             <small>CCCamp 2015 Omnidome installation</small> -->

        </div>


        <div class="col-sm-4">
            <h5>Box Projections</h5>
           <h10>Convert a Rectangular room into a holodeck</h10>
           <br>
           <br>

                <!-- <br><br>
                <img src="/samples/assets/server.jpg" alt="Omniserver">
                <small>Omnidome 19" Rack Server</small> -->

        </div>

        <img src="/images/realworld.png" width="700" height="" alt="reality">
        <br>
        <img src="/images/virtualworld.png" width="700" height="" alt="reality">


        <div class="col-sm-4">
            <h5>3D Geometry</h5>
              <h10>Load in your own 3D models or scans and project back on to it</h10>
              <br>

                <!-- <br><br>
                <img src="/samples/assets/colour_dome.jpg" alt="Studio Dome">
                <small>Studio production dome setup in the Cr8tr Studio</small>
                <br><br> -->
                <img src="/images/bunny.png" width="500" height="250" alt="bunny">

        </div>

      <div class="col-md-12">
          <div class="row">
            <h3>Potential Applications</h3>
           <h5>Holodecks</h5>
          <h10>Create an amazing virtual 360 world within a boring room</h10>

           <!-- <br><br>
           <img src="/samples/assets/dome_show.jpg" alt="Dome Shows">
           <small>CCCamp 2015 Omnidome installation</small> -->

      </div>

      <div class="row">
          <h5>VR Conferencing</h5>
              <h10>SpaceTime Travel in style and comfort, project your conferences in the comfort of your own space.</h10>

              <!-- <br><br>
              <img src="/samples/assets/colour_dome.jpg" alt="Studio Dome">
              <small>Studio production dome setup in the Cr8tr Studio</small>
              <br><br> -->

      </div>

      <div class="row">
          <h5>Immersive Gaming</h5>
              <h10>Take of the Goggles and Share with your friends.</h10>

              <!-- <br><br>
              <img src="/samples/assets/colour_dome.jpg" alt="Studio Dome">
              <small>Studio production dome setup in the Cr8tr Studio</small>
              <br><br> -->

      </div>

      <br>
      <br>

      <h7>OMNIDOME SHOWREEL VIDEO</h7>
      <br>
      <br>
      <div style="margin-left: 10%; margin-right: 10%">
    <iframe src="https://player.vimeo.com/video/136392554" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
<p><a href="https://vimeo.com/136392554">Omnidome CCCamp15 with Lyrebird &amp; Manakin</a> from <a href="https://vimeo.com/cr8tr">Cr8tr</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
</div>



<div style="height: 6em"></div>

      </div>
    </div>
</div>



    </article>
    <!-- End Article -->
</div>
</div>

<!-- END PAGE | SERVICES -->
