<div class="pages white paralax page-welcome" id="page-welcome">
  <div class="overlay"></div>
  <!-- Centralized content -->
  <div class="centralized">
    <div class="container">
      <div class="row-fluid">
        <div class="span12 center">
          <!-- Animated logo -->
          <div class="logo">
            <div class="scrollNormal">
              <a href="#page-work">
                <img src="{{ 'logo_welcome.png' | theme_image_url }}" width="140" height="140" alt="Omnidome">
              </a>
            </div>
            <div class="scrollDown">
              <a href="#page-work">
                <img src="{{ 'logo2_welcome.png' | theme_image_url }}" width="140" height="140" alt="Omnidome">
              </a>
            </div>
          </div>

          <div class="line-divider" id="welcome-messages">
            <h1>OMNIDOME</h1>
          </div>

          <p>Open Source, Multi-Platform Fulldome Mapping Software</p>
          <p>Source Code Available on<a href ="https://github.com/cr8tr/omnidome"> GitHub</a></p>
          <!-- 
<div class="social-icons sicon-white bordered">
            <a href="https://twitter.com/_omnidome" class="sicon-twitter"><i>Twitter</i></a>
          </div>
 -->
        </div>
      </div>
    </div>
  </div>
</div>
