<div class="pages page-welcome" id="page-welcome">
  <!-- <div class="overlay"></div> -->
  <!-- Centralized content -->

          <div style="height: 12em"></div>

          <!-- Animated logo -->
          <div class="logo">
            <div class="scrollNormal">
              <a href="#page-work">
                <img src="{{ 'logo_welcome.svg' | theme_image_url }}" width="140px"  alt="Omnidome">
              </a>
            </div>
            <div class="scrollDown">
              <a href="#page-software">
                <img src="{{ 'logo2_welcome.svg' | theme_image_url }}" width="140px"  alt="Omnidome">
              </a>
            </div>
          </div>
<br>

          <div class="line-divider" id="welcome-messages">
            <h1 style="margin-left: 1em;">OMNIDOME&trade;</h1>
            <h3>VR1</h3>
          </div>
          <h2>SHARED IMMERSION</h2>

          <br>
          <br>

        <h3>
          ARBITARY SURFACE PROJECTION MAPPING SOFTWARE
          <br>
          PUBLIC BETA RELEASE COMING VERY SOON!


        <!--
        <h5>  <p>Download the installer <a href ="https://github.com/cr8tr/omnidome"> Here</a></p></h5>
        <h5>  <p>Source Code Available on<a href ="https://github.com/cr8tr/omnidome"> GitHub</a></p></h5>
        <h5>  <p>Omnidome is an OpenSource Project. You can support us by donating <a href ="https://github.com/cr8tr/omnidome"> here</a></p></h5> -->

        <br>
        <br>
      <img src="{{ 'mandala1.svg' | theme_image_url }}" width="800"  alt="Digram">
        <br>
        <br>
      </h3>
      <div id="visit-button" style="margin: 50px; padding: 10px;" align="center">
      <button class="button-custom2" onclick="window.location = '/#page-contact'"><a href="/#page-contact"> <i class="vc_btn3-icon fa fa-eye"></i> GET A QUOTE </a></button></div>


        <div style="height: 12em"></div>


          <!--
<div class="social-icons sicon-white bordered">
            <a href="https://twitter.com/_omnidome" class="sicon-twitter"><i>Twitter</i></a>
          </div>
 -->
        </div>
